.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: max-content;
    min-width: 100vw;
    max-width: max-content;
    position: relative;
}
