.editor_toggles {
    display: flex;
    flex-direction: row;
}

.editor_toggles > button {
    width: fit-content;
    font-size: 0.75em;
}

.color_input {
    width: 0.001%;
    height: 0.001%;
    position: absolute;
    opacity: 0%;
    background-color: transparent;
    color: transparent;
    border: none;
}

.post_editor_container {
    padding: 1em;
}

.post_editor {
    border: 3px inset black !important;
    padding: 1em;
}

.post_editor:focus {
    outline: none !important;
}

.edit_post_modal_header {
    font-size: 1.75em;
}
