.password_layout {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
}

.password_layout_invalid {
    color: #9e1b32;
}

.password_layout_valid {
    color: #32de84;
}

.password_requirement {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    font-size: 0.75em;
    white-space: nowrap;
}
