body {
    position: relative;
}
* {
    font-family: "Inter", sans-serif;
}

pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
}

pre > code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
}

pre > code > .hljs-comment {
    color: #616161;
}

pre > code > .hljs-quote {
    color: #616161;
}

pre > code > .hljs-variable {
    color: #f98181;
}

pre > code > .hljs-template-variable {
    color: #f98181;
}

pre > code > .hljs-attribute {
    color: #f98181;
}

pre > code > .hljs-tag {
    color: #f98181;
}

pre > code > .hljs-name {
    color: #f98181;
}

pre > code > .hljs-regexp {
    color: #f98181;
}

pre > code > .hljs-link {
    color: #f98181;
}

pre > code > .hljs-name {
    color: #f98181;
}

pre > code > .hljs-selector-id {
    color: #f98181;
}

pre > code > span.hljs-selector-class {
    color: #f98181;
}

pre > code > .hljs-number {
    color: #fbbc88;
}

pre > code > .hljs-meta {
    color: #fbbc88;
}

pre > code > .hljs-built_in {
    color: #fbbc88;
}

pre > code > .hljs-builtin-name {
    color: #fbbc88;
}

pre > code > .hljs-literal {
    color: #fbbc88;
}

pre > code > .hljs-type {
    color: #fbbc88;
}

pre > code > .hljs-params {
    color: #fbbc88;
}

pre > code > .hljs-string {
    color: #b9f18d;
}

pre > code > .hljs-symbol {
    color: #b9f18d;
}

pre > code > .hljs-bullet {
    color: #b9f18d;
}

pre > code > .hljs-title {
    color: #faf594;
}

pre > code > .hljs-section {
    color: #faf594;
}

pre > code > .hljs-keyword {
    color: #70cff8;
}

pre > code > .hljs-selector-tag {
    color: #70cff8;
}

pre > code > .hljs-emphasis {
    font-style: italic;
}

pre > code > .hljs-strong {
    font-weight: 700;
}
