@keyframes appear_animation {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.login_layout {
    gap: 3em;
}

.login_layout > * {
    opacity: 0%;
    animation: appear_animation 1.75s ease-in-out forwards;
}

.login_form_label {
    display: none;
}

.login_title {
    font-size: 5em;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.login_form_control,
.login_form_control:focus {
    background-color: transparent;
    border: 1px solid rgba(173, 216, 230, 0.75);
    color: rgba(255, 255, 255, 0.65);
    outline: none;
    box-shadow: none;
}

.login_form_control_icon {
    background-color: transparent;
    border: 1px solid rgba(173, 216, 230, 0.75);
    color: rgba(255, 255, 255, 0.25);
}

.login_form_floating_control {
    color: rgba(255, 255, 255, 0.25);
}
