@keyframes appear_animation {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.login_layout {
    gap: 3em;
}

.login_layout > * {
    opacity: 0%;
    animation: appear_animation 1.75s ease-in-out forwards;
}

.login_form_label {
    display: none;
}

.login_title {
    font-size: 5em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.login_title_icon {
    font-size: 0.35em;
    align-self: center;
    transition: color 1s ease-in-out;
    color: rgba(45, 84, 200, 1);
}

.login_title_icon:hover {
    color: rgba(34, 193, 195, 1);
    cursor: pointer;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.login_form_control,
.login_form_control:focus {
    background-color: transparent;
    border: 1px solid rgba(173, 216, 230, 0.75);
    color: rgba(255, 255, 255, 0.65);
    outline: none;
    box-shadow: none;
}

.login_form_control_icon {
    background-color: transparent;
    border: 1px solid rgba(173, 216, 230, 0.75);
    color: rgba(255, 255, 255, 0.25);
}

.login_form_floating_control {
    color: rgba(255, 255, 255, 0.25);
}
